body {
  background-color: linear-gradient(
    109.5deg,
    rgb(13, 11, 136) 9.4%,
    rgb(86, 255, 248) 78.4%
  );
}
h1 {
  color: #885df1;
  text-decoration: underline;
  text-align: center;
  padding: 20px 30px 20px 30px;
  margin: 60px;
  background: #95b994;
}
h2 {
  text-align: center;
  list-style-type: none;

}

ul {
  text-align: center;
  margin: 1 15px;
  display: inline;
  list-style-type: none;
  color: #885df1;
}

img {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background: rgb(128, 187, 214);
  border: 6px solid green;
  border-radius: 6px;
}
button {
  background: transparent;
  display: block;
  color: #885df1;
  font-size: 18px;
  margin: 0 auto 30px auto;
  padding: 15px 30px;
  border: 1px solid #885df1;
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 150ms ease-in-out;
}
button:hover {
  background: #885df1;
  color: rgb(128, 58, 124);
}
.contact-details {
  text-align: center;
  font-size: 12px;
}
.contact-platforms {
  color: #885df1;
}
.contacts-usage {
  color: #885df1;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #5074a3;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: pink;
  font-size: 58px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 20px;
  top: -44px;
}

.weather-temperature .active {
  color:rgb(230, 24, 178);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}